body {
  margin: 0;
  position: relative;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../../../public/img/bg_login.jpg");
  -webkit-filter: blur(1.9px);
          filter: blur(1.9px);
  z-index: -1;
}
body .wrapper {
  backdrop-filter: blur(20px);
  background: rgba(242, 242, 242, 0.7);
  width: 419px;
  height: auto;
  background: white;
  display: -ms-grid;
  display: grid;
  margin-top: 14rem;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
body .wrapper .notice {
  margin: 20px 0px;
  border-radius: 18px;
  padding: 10px;
  margin-left: -2rem;
}
body .wrapper .notice.error {
  border: 2px solid #f3d3d3;
  color: #762c2c;
  background: #f3d3d3;
}
body .wrapper .notice.success {
  background: #e1fee3;
  border: 2px solid #2c742b;
  color: #2c742b;
}
body .wrapper input {
  width: 85%;
  outline: none;
  border: none;
  background: #e7eaed;
  padding: 14px 14px;
  margin-bottom: 20px;
  border-radius: 10px;
}
body .wrapper input:focus {
  outline: none;
  border: 2px solid #4c51af;
  -webkit-box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
          box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
body .wrapper button {
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  width: 85%;
  background: tomato;
  color: #fff;
  -webkit-box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
}
body .wrapper button:hover {
  background: red;
}